body {
    background-color: #E5D9F2;
    color: #605678;
}

section {
    background: rgb(139, 228, 139);
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: center;
}

.chamada-texto {
    margin-right: 10%;
}

img {
    height: 200px;
}
.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    
}